{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}Ответ на тему {{ thread.title }}{% endblock %}

{% block pagetitle %}
	<div class="row">
		<div class="span12">
			<h1>Ответ на тему {{ thread.title }}</h1>
		</div>
	</div>
{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url forum_index %}">Форум</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
	{% for title, url in thread.forum.get_url_name %}
		<li><a href='{{ url }}'>{{ title }}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
	{% endfor %}
	<li class="active">Новое сообщение</li>
{% endblock %}

{% block subcontent %}
	<h2>Написать сообщение</h2>
	<form class="form-horizontal" method='post' action='./' enctype='multipart/form-data'>{% csrf_token %}
		{% include "forform.html" %}
	</form>
{% endblock %}
