{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}Подписки{% endblock %}

{% block pagetitle %}
	<div class="row">
		<div class="span12">
			<h1>Подписки</h1>
		</div>
	</div>
{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url forum_index %}">Форум</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
	<li class="active">Подписки</li>
{% endblock %}

{% block subcontent %}
	{% if user.is_authenticated %}
		{% if not subs %}
			<h2>У Вас нет подписок.</h2>
		{% else %}
			<form class="form-horizontal" method='post' action='./'>{% csrf_token %}
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Форум</th>
							<th>Тема</th>
							<th width="50">Подписка</th>
						</tr>
					</thead>
					<tbody>
						{% for s in subs %}
							<tr>
								<td><img width="30px" src="/static/img/forum_read_subforum.gif"> <a href='{{ s.thread.forum.get_absolute_url }}'>{{ s.thread.forum.title }}</a></td>
								<td>{% if s.thread.sticky %}<img src="/static/img/sticky_read.gif" title="Прилеплена">{% else %}<img src="/static/img/topic_read.gif">{% endif %} <a href='{{ s.thread.get_absolute_url }}'>{{ s.thread.title|escape }}</a>{% if s.thread.closed %} (Закрыта){% endif %}</td>
								<td width="50"><input type='checkbox' checked='checked' name='{{ s.thread.id }}' /></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<button type="submit" class="btn btn-warning margin_b" name="updatesubs">Сохранить</button>
			</form>
		{% endif %}

		{% if next %}
			<div class="pagination pagination-centered">
				<ul>
					<li><a href="{{ next }}">« Вернуться назад</a></li>
				</ul>
			</div>
		{% endif %}
	{% else %}
		<h2>Раздел доступен только для авторизованных пользователей!</h2>
	{% endif %}
{% endblock %}
