{% extends "2col.html" %}
{% load thumbnail mptt_tags comments pymorphy_tags %}

{% block title %}{% if cat %}{{ cat.get_title }}{% else %}{{ request.flatpage.meta_title|default:"request.flatpage.title" }}{% endif %}{% endblock %}
{% block description %}{% if cat %}{{ cat.get_description }}{% else %}{{ request.flatpage.meta_description }}{% endif %}{% endblock %}
{% block keywords %}{% if cat %}{{ cat.get_keywords }}{% else %}{{ request.flatpage.meta_keywords }}{% endif %}{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url article_url %}">Статьи</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
	{% if cat %}
		{% for item in cat.get_ancestors %}	
			<li><a href="{{ item.get_absolute_url }}">{{ item.get_title }}</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
		{% endfor %}
	{% endif %}
	<li class="active">{% if cat %}{{ cat.get_title }}{% else %}{{ request.flatpage.get_title }}{% endif %}</li>
{% endblock %}

{% block leftblock %}
	{% if article_list %}
		{% for item in article_list %}
			<div class="row-fluid">
				<div class="media">
					{% if item.get_image %}
						{% thumbnail item.get_image "350x200" crop="center" format='PNG' as im %}
							<a class="pull-left prettyPhoto" href="{{ im.url }}" data-rel="prettyPhoto" title="{{ item.get_title }}">
								<img class="media-object" src="{{ im.url }}" alt="{{ item.get_title }}"/>
							</a>
						{% endthumbnail %}
					{% endif %}
					
					<div class="media-body">
						<h4 class="media-heading"><a href="{{ item.get_absolute_url }}">{{ item.get_title }}</a></h4>
						{{ item.get_announcement|safe|linebreaks }}
					</div>
				</div>
			</div>
			{% get_comment_count for item as comment_count %}
			<div class="row-fluid margin_b">
				<div class="bottom-article">
					<ul>
						<li class="muted"><i class="icon-calendar"></i><small class="hover"> {{ item.get_created|date:"d.m.Y" }}</small></li>
						<li class="muted"><i class="icon-folder-open"></i> <a class="hover" href="{% url article_url %}">Статьи</a></li>
						<li class="muted"><i class="icon-comments"></i> <small class="hover">{{ comment_count }} {{"Комментарий"|plural:comment_count}}</small></li>
						<li class="pull-right border_none"><a href="{{ item.get_absolute_url }}" class="pull-right">Читать далее <i class="icon-angle-right"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>Раздел в разработке</h2>
	{% endif %}
	
	{% include "paginate.html" %}
{% endblock %}

{% block rightblock %}
	{% if category_menu %}
		<h5>Категории</h5>
		<div class="list_cat">
			{% recursetree category_menu %}
				<ul class="no_style_list">
					<li {% ifequal cat.id node.id %}class="active"{% endifequal %}{% ifequal item.category.id node.id %}class="active"{% endifequal %}>
						<i class="icon-angle-right"></i>
						<a href="{{ node.get_absolute_url }}">{{ node.get_title }}{% if not node.is_leaf_node %}{% endif %}</a>
						{% if not node.is_leaf_node %}
							{{ children }}
						{% endif %}
					</li>
				</ul>
			{% endrecursetree %}
		</div>
	{% endif %}

{% endblock %}