{% load i18n %}{% load url from future %}{% autoescape off %}
Здравствуйте!
Вы запросили смену пароля на сайте {{ site_name }}

Кто-то (скорее всего, вы) запросил смену пароля на сайте {{ site_name }} для аккаунта {{ user.username }}.
Чтобы продолжить смену пароля проследуйте на эту страницу и введите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.
{% endautoescape %}
