{% extends "registration/password_reset_form1.html" %}

{% block breadcrumb_item %}
	<li class="active">Восстановление пароля</li>
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span12 margin_b">
			<h1>Восстановление пароля</h1>
			<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
		</div>
		
		<div class="span6">
			<form class="form-horizontal" method="post" action="">{% csrf_token %}
				{% include "forform.html" %}
			</form>
		</div>
		
		<div class="span3">
		</div>
	</div>
{% endblock %}