{% extends "mail/mail.html" %}

{% block content %}
	<p>Новый заказ <strong>№{{ obj.id }}</strong> на сайте.</p>
	
	<p>
		<ul>
			<li><strong>ФИО:</strong> {{ obj.get_user_name }}</li>
			<li><strong>E-mail:</strong> {{ obj.get_user_email|default:'-' }}</li>
			{% if obj.get_phone %}<li><strong>Телефон:</strong> {{ obj.get_user_phone|default:'-' }}</li>{% endif %}
			<li><strong>Заказ:</strong> {{ obj.product.get_title }}</li>
			<li><strong>Дата:</strong> {{ obj.get_created_at|date:"d.m.Y" }}</li>
		</ul>
	</p>
	
	<p>
		<a href="http://{{ domain }}/admin/feedback/feedbackitem/{{ obj.id }}/">Перейти к сообщению</a>
	</p>
{% endblock %}