{% load paginate %}

{% if is_paginated %}
	{% paginate_split_list page_range page %}
	
	<div class="pagination">
		<ul>
			<li class="previous disabled pull-left">Страница {{ page }} из {{ paginate_page_range.0|length }}</li>
			
			{% for interval,more in paginate_page_range.0 %}
				{% for p in interval %}
					{% ifequal p page %}
						<li class="active"><a>{{ p }}</a></li>
					{% else %}
						<li><a href="{% get_url 'page' p %}">{{ p }}</a></li>
					{% endifequal %}
				{% endfor %}
				{% if more %}<li class="disabled"><a>&nbsp; ... &nbsp;</a></li>{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}