/*ОБЩИЕ для текста*/
a, a.muted:hover, footer a:hover, footer li.active a, .copyright a, .hover:hover, .orange, .orange.hover, a.brown:hover{color: #FF9900;}
a:hover,a.hover:hover, .orange.hover:hover, .brown{
	color: #330000;
	
}
a.decor{text-decoration:underline;}
a.decor:hover, a.brown:hover{text-decoration:none;}
small, .small{
	font-size: 85%;
}
.small{line-height: 85%;}
h1 {
	font-size: 22px;
	line-height: 22px;
	margin-top:0;
	margin-bottom:20px;
}
h2 {
	font-size: 17.5px;
	line-height: 20px;
	margin:0;
	font-weight: normal;
}
h4{font-weight:normal;}
h5 {
	border-bottom: #e9e9e9 1px solid;
	padding:0 0 20px 0;
	font-size: 17.5px;
	margin: 20px 0;
	font-weight:normal;
}
.media-heading {
	margin: 0 0 10px;
}
.t_right{text-align:right}
