{% extends "default.html" %}
{% load thumbnail comments %}

{% block title %}{{ item.meta_title }}{% endblock %}
{% block description %}{{ item.meta_description }}{% endblock %}
{% block keywords %}{{ item.meta_keywords }}{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url news_url %}">Новости</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
	<li class="active">{{ item.get_title }}</li>
{% endblock %}

{% block flatpage %}
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span12">
			<h1>{{ item.get_title }}</h1>
		</div>
	</div>
				
	<div class="media">
		{% if item.get_image %}
			<div class="pull-left">
				{% thumbnail item.get_image "300x300" as im %}
					<a class="pull-left prettyPhoto" href="{{ MEDIA_URL }}{{ item.get_image }}" data-rel="prettyPhoto" title="{{ item.get_title }}">
						<img class="media-object" src="{{ im.url }}" alt="{{ item.get_title }}">
					</a>
				{% endthumbnail %}
			</div>
		{% endif %}
		<div class="media-body">
			<small><strong>{{ item.created_at|date:"d.m.Y" }}</strong></small>
			<div>{{ item.text|safe }}</div>
		</div>
	</div>
	
	{% render_comment_list for item %}

	<div>
		{% render_comment_form for item %}
	</div>
{% endblock %}