{% extends "default.html" %}
{% load thumbnail comments pymorphy_tags %}

{% block content %}
	{% if news_list %}
		{% for item in news_list %}
			<div class="row-fluid">
				<div class="media">
					<a class="pull-left" href="{{ item.get_absolute_url }}" title="{{ item.get_title }}">
						{% if item.get_image %}
							{% thumbnail item.get_image "350x200" crop="center" format='PNG' as im %}
								<img class="media-object" src="{{ im.url }}" alt="{{ item.get_title }}"/>
							{% endthumbnail %}
						{% endif %}
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="{{ item.get_absolute_url }}">{{ item.get_title }}</a></h4>
						{{ item.get_announcement|safe|linebreaks }}
					</div>
				</div>
			</div>
			{% get_comment_count for item as comment_count %}
			<div class="row-fluid margin_b">
				<div class="bottom-article">
					<ul>
						<li class="muted"><i class="icon-calendar"></i><small class="hover"> {{ item.get_created|date:"d.m.Y" }}</small></li>
						<li class="muted"><i class="icon-folder-open"></i> <a class="hover" href="{% url news_url %}">Новости</a></li>
						<li class="muted"><i class="icon-comments"></i> <small class="hover">{{ comment_count }} {{"Комментарий"|plural:comment_count}}</small></li>
						<li class="pull-right border_none"><a href="{{ item.get_absolute_url }}" class="pull-right">Читать далее <i class="icon-angle-right"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>Раздел в разработке</h2>
	{% endif %}
	
	{% include "paginate.html" %}
{% endblock %}