{% extends "electronic_catalog/full.html" %}

{% block extra_media %}{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url ad_board_url %}">Доска объявлений</a> <span class="divider">/</span></li>
	<li><a href="{{ cat.get_absolute_url }}">{{ cat.get_title }}</a> <span class="divider">/</span></li>
	<li class="active">Добавить объявление</li>
{% endblock %}

{% block leftblock %}
	<div class="row-fluid">
		<form class="form add" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{% include "forform.html" %}
		</form>
	</div>
{% endblock %}